<!DOCTYPE html>
<html>
{% include "fragments/config.html" %}
<body>
	{% include "fragments/header.html" %}
	<div id="real-body" class="d-flex blurEffect">
		{%include "fragments/sidebar.html" %}
		{% if values|length > 0 %}
		<div class="w-100 text-dark">
			<div class="row mt-2 ms-5">
				<div class="col-md-6 h-100">
					<div class="row">
						<div class="col-md-4">
							<label class="form-label fw-bold" for="temp_id"> 템플릿 ID </label>
							<div>
							<input class="form-control" type="text" id="temp_id" value={{temp_id}}>
							</div>
						</div>
					</div>
					<div class="card mt-2 h-100">
						<div class="card-header">
							템플릿 변수	<div id="temp-save" class="btn badge btn-secondary">저장</div>
						</div>
						<div class="card-body"   style="height:700px; overflow:scroll;">
							<div class="list-group list-group-flush">
								{% for temp in values %}
								<div class="list-group-item">
									<div id="value-list" class="row">
											<div class="col-2 fw-bold text-center" for="temp_val" id="val_name" value="{{temp['key']}}"> {{temp['key']}} </div>
											<input class="col-9" type="text" id="temp_val" {% if temp['value'] %} value="{{temp['value']}}" {% endif %}>
											<div class="col btn text-danger" onclick="delVal('{{temp['key']}}');" id="del_val"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
												<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
											</svg></div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="card-footer btn text-center fw-bold" 
							data-bs-toggle="modal" data-bs-target="#addModal">
							추가
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="row ms-5">
						<div id="sendMe" class="btn btn-secondary btn-sm fw-bold">
							<i class="bi bi-person"></i> 나에게 보내기
						</div>
						<a id="share" class="btn bg-cst-primary btn-sm mt-3 fw-bold" href="javascript:onSendFriends()">
							<i class="bi bi-share"></i>  공유하기
						</a>
						<div id="sendAll" class="btn btn-sm  mt-3 fw-bold bg-warning">
							<i class="bi bi-collection"></i> 전체보내기
						</div>
					</div>
				</div>
				
			</div>
		</div>
		{% endif %}
	</div>
	{% include "fragments/footer.html" %}
	
	
	<!-- Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">변수 추가</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
				</div>
				<div class="modal-body">
					<label class="form-label fw-bold" for="add_temp_name">변수 이름</label>
					<input class="form-control" type="text" id="add_temp_name">
				</div>
				<div class="modal-footer">
					<button type="button" id="temp-val-add" class="btn btn-primary">저장</button>
				</div>
			</div>
		</div>
	</div>

	
	<div id="blur" class="blur display_none">
	</div>
	
	<div id="loading" class="loading display_none">
		<div class="loading_circle"></div>
	</div>
	
</body>

	<script src='/static/js/main.js'></script>
</html>